#Home {
	-fx-background-image:url("bg2.jpg");
	-fx-background-size: 100% 100%;
}
#Difficulty{
	-fx-background-image:url("bg2.jpg");
	-fx-background-size: 100% 100%;
}
#Rules{
	-fx-background-image:url("bg2.jpg");
	-fx-background-size: 100% 100%;
}

#BeginnerDifficulty{
	-fx-background-image:url("beginnerDifficulty.jpg");
	-fx-background-size: 100% 100%;
}
#BeginnerDifficulty:hover{
	-fx-background-image:url("beginnerDifficultyMouseOver1.jpg");	
	-fx-background-size: 100% 100%;
}

#IntermediateDifficulty{
	-fx-background-image:url("intermediateDifficulty.jpg");
	-fx-background-size: 100% 100%;
}
#IntermediateDifficulty:hover{
	-fx-background-image:url("intermediateDifficultyMouseOver1.jpg");
	-fx-background-size: 100% 100%;
}

#AdvancedDifficulty{
	-fx-background-image:url("advancedDifficulty.jpg");
	-fx-background-size: 100% 100%;
}
#AdvancedDifficulty:hover{
	-fx-background-image:url("advancedDifficultyMouseOver1.jpg");
	-fx-background-size: 100% 100%;
}

#HighScores{
	-fx-background-image:url("bg2.jpg");
	-fx-background-size:100% 100%;
}

#HighScoreText{
	-fx-font-family: "Joystix";
	-fx-font-size: 30px;
	-fx-control-inner-background:#000000; 
	-fx-highlight-fill: #00ff00; 
	-fx-highlight-text-fill: #000000; 
	-fx-text-fill: #0000ff;
	
}
#HighScoreText *.text {
    -fx-text-alignment: center;
}

#playerTimeScore{
	-fx-font-family: "Joystix";
	-fx-font-size: 30px;
}
#HSPane{
	-fx-background-color: #000000;
}

.button {
	-fx-font-family: "Joystix";
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-background-color: #d50000 ;
	-fx-background-radius: 22;
	-fx-font-size: 16;
	-fx-text-fill: white;
}

.button:hover{
	-fx-font-weight: bold;
	-fx-background-color:white;
	-fx-background-radius: 22;
	-fx-font-size: 16;
	-fx-text-fill: #d50000 ;
	-fx-border-color: #d50000 ;
	-fx-border-radius: 20;
	-fx-border-width: 3;
}

.button:pressed{
	-fx-font-weight: bold;
	-fx-background-color:white;
	-fx-background-radius: 22;
	-fx-font-size: 16;
	-fx-text-fill: #d50000 ;
	-fx-border-color: #d50000 ;
	-fx-border-radius: 20;
	-fx-border-width: 3;
	-fx-rotate: 10;
}

@font-face {
    src: url('joystix_monospace.tiff');
    src: url('ka1.tiff');
}
#rulesPane{
	-fx-background-color:black;
}

#textB{
	-fx-font-family: "Joystix";
	-fx-font-size:24px;
	-fx-text-fill: #0000ff;
}

#textG{
	-fx-font-family: "Joystix";
	-fx-font-size:24px;
	-fx-text-fill: #00ff00;
}

#start, #rules, #highscore{
	-fx-font-family: "Joystix";
	-fx-font-size: 32px;
}

#title, #diffTitle, #how_to_play, #HSLabel{
	-fx-font-family: 'Karmatic Arcade';
	-fx-text-fill: #1f1f1f;
	-fx-font-size: 50px; 
	-fx-alignment:center;
}

#diffText{
	-fx-font-family: "Joystix";
	-fx-font-size: 10.5px;
}

#diffLabel, #enterUsername{
	-fx-font-family: "Joystix";
	-fx-font-size:23px;
}


